@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #77B6EA;
}

.horus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #77B6EA;
}
.horus-container .navbar {
  display: flex;
  top: 0;
  position: fixed;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
}
.horus-container .navbar-brand {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.horus-container .navbar-toggler {
  background-color: #C5A658;
}
.horus-container .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.horus-container .navbar .badge {
  background-color: #C5A658;
}
.horus-container .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.horus-container .nav-link:hover {
  color: #C5A658;
}
.horus-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: #0E34A0;
}
.horus-container__header-title {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.horus-container__header-title-text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.horus-container__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 1rem;
  color: #ffffff;
}
.horus-container__info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  margin: 0 1rem;
}
.horus-container__info-column-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.horus-container__info-column-title {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__info-column-description {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .horus-container__info {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .horus-container__info-column {
    width: 10rem;
    height: 20rem;
    margin: 1rem 0;
  }
}
.horus-container__main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5rem 100%;
  width: 100%;
  height: 100%;
  padding: 5rem;
  padding-bottom: 10rem;
}
.horus-container__main-pagination {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: #F7F7FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
.horus-container__main-products {
  grid-column: 2;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #F7F7FF;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
.horus-container__main-products .card-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__main-products .card .btn {
  background-color: #C5A658;
  border: none;
}
.horus-container__main-products .card .btn:hover {
  background-color: #C5A658;
}
.horus-container__main-filters {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: #F7F7FF;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
.horus-container__main-filters h1, .horus-container__main-filters h3 {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-color: #221D23;
  color: #ffffff;
}
.horus-container__footer-logo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.horus-container__footer-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horus-container__footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horus-container__footer-social-link {
  width: 100%;
  height: 2rem;
  padding: 3rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horus-container__footer-social-link:hover {
  color: #C5A658;
}
.horus-container__footer-social-link img {
  width: 5rem;
  height: 5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
}
.horus-container__footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horus-container__footer-info-text {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__footer-info-text-link {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horus-container__footer-info-text-link:hover {
  color: #C5A658;
}
.horus-container__footer-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horus-container__footer-map-iframe {
  width: 100%;
  height: 15rem;
  border: 0;
}
@media (max-width: 768px) {
  .horus-container__footer {
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  .horus-container__footer-logo {
    padding: 1rem;
    height: 10rem;
    object-fit: cover;
  }
  .horus-container__footer-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .horus-container__footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .horus-container__footer-social-link {
    width: 100%;
    height: 2rem;
    padding: 7rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .horus-container__footer-social-link:hover {
    color: #C5A658;
  }
  .horus-container__footer-social-link img {
    width: 5rem;
    height: 5rem;
    margin: 0 0.5rem;
    border-radius: 50%;
  }
  .horus-container__footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .horus-container__footer-info-text {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }
  .horus-container__footer-info-text-link {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .horus-container__footer-info-text-link:hover {
    color: #C5A658;
  }
  .horus-container__footer-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .horus-container__footer-map-iframe {
    width: 100%;
    height: 15rem;
    border: 0;
  }
}

.horus-container__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  padding: 1rem;
}
.horus-container__products-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  margin: 0 1rem;
  background-color: #F7F7FF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.horus-container__products-card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.horus-container__products-card-title {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__products-card-description {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__products-card-price {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.horus-container__products-card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  background-color: #C5A658;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horus-container__products-card-btn:hover {
  background-color: #ffffff;
  color: #C5A658;
}
@media screen and (max-width: 768px) {
  .horus-container__products {
    flex-direction: column;
  }
  .horus-container__products-card {
    width: 90%;
    margin: 1rem 0;
  }
}

.horus-container__carousel {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 41rem;
}
.horus-container__carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horus-container__carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horus-container__carousel-btn--left {
  left: 0;
}
.horus-container__carousel-btn--right {
  right: 0;
}
.horus-container__carousel-btn-img {
  width: 1rem;
  height: 1rem;
}
.horus-container__carousel-btn:hover {
  background-color: #C5A658;
}
.horus-container__carousel-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.horus-container__carousel-indicator-dot {
  width: 5rem;
  height: 0.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horus-container__carousel-indicator-dot:hover {
  background-color: #C5A658;
}
@media screen and (max-width: 768px) {
  .horus-container__carousel {
    height: 20rem;
  }
  .horus-container__carousel-btn {
    top: 25%;
    width: 1.5rem;
    height: 1.5rem;
  }
  .horus-container__carousel-btn-img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .horus-container__carousel-indicator {
    top: 40%;
  }
  .horus-container__carousel-indicator-dot {
    width: 2rem;
    height: 0.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
